@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Source+Serif+Pro:ital@1&display=swap');
*{
    padding:0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Source Sans Pro";
}
.container{
    max-width: 100%;
    margin: 0px;
    position: relative;
}
.left-container{
    float: left;
    height: 800px;
    width: 17%;
    overflow: hidden;
    border-right: 2px solid black;
}
.right-containes{
    width: 83%;
    float: left;
    height: 100%;
    position: relative;
    flex-direction: row;
}
.header{

    max-height: 20vh auto;
    width: 80% auto;   
    margin-top: 0px;
    padding: 20px 0px 20px 30px;
    background-color: rgb(128,128,128,0.911);
}
.txtlogo{
    font-family: "Source Sans Pro";
    font-size: 30px;
    
  }

.left-container h1{
    font-weight: bold;
    font-family: "Source Sans Pro";
    padding: 25px 60px;
    
}
.menu a{
    margin: 10px 15px;
}
.menu a button{
    width: 150px;
    margin: 20px;
    outline: none;
    padding: 8px 0px;
    border-radius: 12px;
    background-color:rgba(128, 128, 128, 0.144);
    border-style: none;
    transition: all 0.3s ease 0s;
}
.menu a button:hover{
    background-color: grey;
    color: white;
    cursor: pointer;
    
}
.menu{
    width: 210px;
    margin: 10px 20px;
    border-radius: 20px;
    background-color: rgb(128,128,128,0.144);
    
} ;
}
#home{
    background-color:grey;
    color: white;
}
.bottom-menu{
    width: 210px;
    margin: 200px 20px 40px 20px;
    border-radius: 20px;
    background-color: rgba(128,128,128,0.363);
}
.bottom-menu a{
    margin: 10px 15px;
}
.bottom-menu a button{
    width: 150px;
    padding: 8px 0px;
    margin:20px ;
    border-radius: 12px;
    background-color: rgba(128, 128, 128, 0.144);
    border-style: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.bottom-menu a button:hover{
    background-color:grey;
    color: white;
}

.sreach-bar{
    margin-left: 60px;
    border-radius: 15px;
    color: rgba(201, 185, 185, 0.027);
}
#sreach-bar{
    border-radius: 15px;
    padding: 5px;
    border-style: none;
    outline-style: none; height: 30px; width: 22vw; font-size: large;
}
.topic1{
    font-family:"Source Sans Pro";
    font-size: 45px;
    padding-top: 20px;
}
.que{
    padding-top: 20px;
    font-size: 40px;
    padding-bottom: 40px;
}
#read{
    width:1000px;
    height: 500px;
    padding-left: 70px;
    padding-bottom: 25px;
}
.txtread{
    font-size: 29px;
    font-family: "Source Sans Pro";
    letter-spacing: 1px;
    line-height: 1.5;
    text-indent: 70px;
}

div#tabs p{display:none;}
div#tabs p.tab1:target{display:block;} 
div#tabs p.tab2:target{display:block;}
div#tabs p.tab3:target{display:block;}
div#tabs p.tab4:target{display:block;}
div#tabs p.tab5:target{display:block;}

.ndque{
    padding-top: 20px;
    font-size: 40px;
}
#tab1{
    font-family:"Source Sans Pro";
    font-size: 29px;
    padding-top: 10px;
    text-indent: 70px;
    letter-spacing: 1px;
    line-height:1.5;
}  
#tab2{
    font-family:"Source Sans Pro";
    font-size: 29px;
    padding-top: 20px;
    padding-bottom: 10px;
    text-indent: 70px;
    letter-spacing: 1px;
    line-height:1.5;
} 
#tab3{
    font-family:"Source Sans Pro";
    font-size: 29px;
    padding-top: 10px;
    text-indent: 70px;
    letter-spacing: 1px;
    line-height:1.5;
} 
#tab4{
    font-family:"Source Sans Pro";
    font-size: 29px;
    padding-top: 10px;
    text-indent: 70px;
    letter-spacing: 1px;
    line-height:1.5;
}
#tab5{
    font-family:"Source Sans Pro";
    font-size: 29px;
    padding-top: 10px;
    text-indent: 70px;
    letter-spacing: 1px;
    line-height:1.5;
}
#readmar{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 250px;
    width: 800px;
    height: 450px;
}
#ttoread{
    padding-top: 20px;
    padding-bottom: 10px;
    width: 800px;
    height: 300px;
    padding-left: 200px;
}
#tiread{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 210px;
    height: 300px;
    width: 800px;
    
}
#timar{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 220px;
    height: 500px;
    width: 770px;
}
#ti{
    padding-top: 20px;
    padding-bottom: 10px;
    padding-left: 250px;
    height:490px;
    width: 670px;

}